@font-face {
    font-family: baloo;
    src: url(/font/Baloo2-VariableFont_wght.ttf);
  }

body {
    background: #27272C;
    font-family: baloo;
    font-size: 22px;
    font-weight: normal;
    color: #A6C5CE;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2em;
    font-weight: 700;
    color: #D367C1;
    text-shadow: rgba(0, 0, 0, 0.228) 0px 0px 10px;
}

div#start{
    width: 80%;
    display: flex;
    justify-content: center;
}

input#start-button{ 
    width: 100%; 
    background-color: #A6C5CE; 
    border-width: 0px; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 1em; 
    font-weight: 700;
    color: black; }

footer{
    color: #0196a3;
}